<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

			<header id="header" class="skel-layers-fixed">
			<h1><a href="index.html"><strong>TRANSPARENT INDIA</strong></a></h1>	
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Links</a>
							<ul>
								<li><a href="https://rtionline.gov.in/">RTI</a></li>
								<li><a href="http://digitalindia.gov.in/">DIGITAL INDIA</a></li>
							</ul>
						</li>
						<li><a href="About.html">About</a></li>
					</ul>
				</nav>
			</header>


		<!-- Three -->
		<br>
		<br>
		<br>
		<br>
			<section id="three" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>OUR TEAM</h2>
						<p>We are the undergraduates at <a href="http://www.nitk.ac.in/"><strong>National Institute of Technology</strong></a><br />
						Currently pursuing degree in<a href="http://infotech.nitk.ac.in/">Information technology</a> <br />
						We are group of three individuals trying to create a difference</p>
					</header>
					<br>

					
					<br>
					
					<br>
					<br>	
					<div class="row">
						<div class="4u 6u(2) 12u$(3)">
							<article class="box post">
								<!-- <a href="#" class="image fit"><img src="images/Harsha.jpg" alt="" /></a> -->


								
								<h3>Harshavardhan G</h3>
								<p>Whatsapp me on <b>9404237451</b><br>Mail me at <b>manask322@gmail.com</b></p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit"><img src="Manas.jpg" alt="" /></a>
								<h3>Manas Kinkar</h3>
								<p>Whatsapp me on <b>9404237451</b><br>Mail me at <b>manask322@gmail.com</b></p>
								<ul class="actions">
									<li><a href="https://www.linkedin.com/in/manas-kinkar001/" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u$ 6u(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit"><img src="images/Sanjay.jpg" alt="" /></a>
								<h3>Sanjay Shetty</h3>
								<p>Whatsapp me at<br>MAil me at<br></p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
					</div>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Code buste</a>
				</span>
			</footer>

	</body>
</html>